@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

@layer base {
  @font-face {
    font-family: Chomsky;
    src: url('./assets/fonts/chomsky/Chomsky.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    @apply m-0 font-sans antialiased;
  }
}
